ion-content {
    --background: #eef9f8;
    --background: -moz-linear-gradient(top, #eef9f8 0%, #eff8f4 40%, #f0f6f0 100%);
    --background: -webkit-linear-gradient(top, #eef9f8 0%,#eff8f4 40%,#f0f6f0 100%);
    --background: linear-gradient(to bottom, #eef9f8 0%,#eff8f4 40%,#f0f6f0 100%);
    text-align: center;
    h1 {
        margin: 35% auto 20%;
        color: #4f8db3;
    }
    h4 {
        margin: 0 auto 40%;
        color: #444;
    }
}